
	{% if students.count > 0 %}

<table>
  <thead>
  <tr class="table-headers">
    <th>Name
      <a href="{% url 'home:showStudentByName'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th width="100px">Program
      <a href="{% url 'home:showStudentByProgram'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th>Branch
      
    </th>
    <th>Roll No
      <a href="{% url 'home:showStudentByRoll'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th>Placed
     
    </th>
    <th>Company
      <a href="{% url 'home:showStudentByCompany'%}" style="color:white">
      <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th>Profile</th>
    <!-- <th>Day
      <a href="{% url 'home:showStudent'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th> -->
  </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <td> <a href="{% url 'home:studentDetails' student.id %}">
         {{student.name}}
        </a></td>
      <td> {{ student.programs }}</td>
      <td> {{ student.branch }}</td>
      <td>{{ student.roll }}</td>
      {% if student.placed is False %}
      <td> {{ "Not Placed" }}</td>
      <td> {{ "-" }}</td>
      <!-- <td> {{ "-" }}</td> -->
      {% else %}
      <td> {{ "Placed" }}</td>
      <td> {{ student.company }}</td>
      <!-- <td> {{ student.day }}</td> -->
    {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>

{% else %}
<li>Nothing to show</li>
{% endif %}
