{% extends "home/base.html" %}
{% load static %}

{# load custom filters #}
{% load custom_filters %}


{% block title %}
  IITG Placement Statistics
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}


<style>
.navbar-custom{
  background-color: #023e8a;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">


  <div class="container-fluid">

  <a class="navbar-brand order-0 hov_class" href="{% url 'home:home' %}" style="cursor: pointer;"> <img style="max-width: 35px;max-height: 35px;" src="{% static 'images/logo.png' %}">Placement Statistics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">

      {% if request.user.is_authenticated %}

        {% if request.user.is_superuser or request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin panel
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'ccd:home' %}">CCD panel
          </a>
        </li>
        {% elif request.user.email|is_ccd_member%}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'ccd:home' %}">CCD panel
          </a>
        </li>
        {% endif %}


      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:charts' %}">Charts
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:table' %}">Table
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signout' %}">Logout
        </a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signin' %}">Click here to Login
        </a>
      </li>

      <a class="nav-item nav-link text-white hov_class" href="{% url 'signin' %}" style="cursor: pointer;"></a>
      {% endif %}

    </ul>

  </div>
</div>

</nav>


<style>
.navbar-dark .navbar-nav .active>.nav-link:hover{
    text-decoration:underline;
}
.navbar-dark .navbar-brand:hover{
  text-decoration:underline;

}
</style>
<br><br><br>

<div class="container">
  <!-- Messages -->
  <div class="mb-3">
    {% if messages %}
    {% for message in messages %}
    <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <!-- End Messages -->
  <div class="jumbotron text-center">


    {% if request.user.is_authenticated %}
    <h2 class="display-5" style="text-align: center;">Hi {{request.user.username|replace_underscores|title}}, Welcome to
      IITG Placement Statistics</h1>
      <p class="lead">A dashboard for viewing Placement 2020-21 statistics </p>

      <hr class="my-4">

    <div style="text-align:center;">
      <a class="btn btn-primary navbar-custom" href="{% url 'home:charts' %}" role="button">Charts</a>
      <a class="btn btn-primary navbar-custom" href="{% url 'home:table' %}" role="button">Tabular view</a>
    </div>
    {% else %}
    <h2 class="display-5" style="text-align: center;"> Welcome to
      IITG Placement Statistics</h1>
      <p class="lead">A dashboard for viewing Placement 2020-21 statistics </p>
      <hr class="my-4">
    <p class="lead"> To view placement statistics you need to login using your institute email ID</p>
    <div style="text-align: center; border: 1px">
      <a class="btn btn-outline-dark" href="{% url 'signin' %}" role="button" style="text-transform:none"><img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Outlook_%282018%E2%80%93present%29.svg.png" />
      Login with Outlook</a>
    </div>
    {% endif %}
  </div>

</div>

<style>
.btn:hover{
  background-color:#020233;
}
</style>

{% include "footer_sticky.html" %}


{% endblock content   %}


{% block scripts %}

<script type="text/javascript">
  $(function() {

    $(".alert").fadeTo(2000, 500).slideUp(500, function() {
      $(".alert").slideUp(500);
    });

  });
</script>

{% endblock scripts%}
