{% extends "home/base.html" %}
{% load static %}

{% block content %}



<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


  <div class="container">

  <a class="navbar-brand order-0 hov_class" href="/" style="cursor: pointer;"> <img style="max-width: 35px;max-height: 35px;" src="{% static 'images/logo.png' %}">Placement-portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">

      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="/charts">Charts
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/table">table
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signout' %}">Logout
        </a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signin' %}">Click here to Login
        </a>
      </li>

      <a class="nav-item nav-link text-white hov_class" href="{% url 'signin' %}" style="cursor: pointer;"></a>
      {% endif %}

    </ul>

  </div>
</div>

</nav>


<br><br><br><br><br>

<div class="container">
  <!-- Messages -->
  <div class="mb-3">
    {% if messages %}
    {% for message in messages %}
    <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <!-- End Messages -->
  <div class="jumbotron">
    <h1 class="display-4">Welcome to IITG Placement Portal!</h1>
    <p class="lead">A portal for IITG community to display placement-statistics. </p>
    <hr class="my-4">

    {% if request.user.is_authenticated %}

    <p class="lead"> You are logged in as <b> {{request.user.username}} </b></p>
    {% else %}

    <p class="lead"> To get the access to the placement statistics, you have to login using your institute email ID</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'signin' %}" role="button">Login</a>
    </p>
    {% endif %}
  </div>

</div>


{% endblock content   %}


{% block scripts %}

<script type="text/javascript">
  $(function() {

    $(".alert").fadeTo(2000, 500).slideUp(500, function() {
      $(".alert").slideUp(500);
    });

  });
</script>
{% endblock scripts%}
