{% extends 'home/base.html' %}
{% load static %}

{% block listView %}

  <style>
  input::-webkit-input-placeholder { /* WebKit browsers */
      color:    #fff;
      padding-left: 4px;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #fff;
      padding-left: 4px;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #fff;
      padding-left: 4px;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #fff;
      padding-left: 4px;
  }
  input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

  tbody td {
    font-size: 90%;
    color: #270962;
}

  </style>
	<title>Students</title>
    <script>
      urlajaxsearchStudent = "{% url 'home:searchStudent' %}"
      urlsearchStudentList = "{% url 'home:searchStudentList' %}"
      urlsearch = "{% url 'home:search' %}"
      urlbranchlist = "{% url 'home:branchlist' %}"
      urlbranchlistshow = "{% url 'home:branchlistshow' %}"


    </script>
     <script src="{% static 'home/jquery-3.4.1.js' %}"></script>
     <script src="{% static 'home/ajaxStudentshow.js' %}"></script>
     <script src="{% static 'home/branchcheckshow.js' %}"></script>
     <script src="{% static 'home/tableStyle.js' %}"></script>
     <link rel="stylesheet" href="{% static 'home/tableStyle.css' %}">

{% endblock %}

{% block content %}

<div style=" display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: auto;
    position: relative;
    text-align:center;"> 

<div style="background-color:#ffffff; width:12%; margin:20px 50px; float:left; position:relative">
  <div style="background-color:#ffffff; float:left; width:70%">
  <form id="dsearchform" style="width:100% ">
    {% csrf_token %}
    <input type="text" id="searchStudent" name="search" placeholder="Search..." style="width:100%; height:20px; background-color:#2D2F91; color:white; padding:4px; border:none">
  </form>
  </div>
  <div style="background-color:#2D2F91; width:auto; float:left; height:28px ">
    <i class="fa fa-search" aria-hidden="true" style="color:white; font-size:15px; padding:6px 4px 4px"></i>
  </div>
</div>

<div style="background-color:#ffffff; width:12%; margin:20px 50px;">    
  <form id="branchsearchfor" style="width:100%">
    {% csrf_token %}
      <select name="Branch" id="select" style="width:100%; height:30px; background-color:#2D2F91; color:white; padding:4px;  box-sizing: border-box;">
          <option value="" id="blank">Branch</option>
          <option value="CSE" id="CSE">CSE</option>
          <option value="MNC" id="MNC">MNC</option>
          <option value="ECE" id="ECE">ECE</option>
          <option value="EEE" id="EEE">EEE</option>
          <option value="ME" id="ME">ME</option>
          <option value="CE" id="CE">CE</option>
          <option value="CL" id="CL">CL</option>
          <option value="EP" id="EP">EP</option>
          <option value="CST" id="CST">CST</option>
          <option value="BT" id="BT">BT</option>
          <option value="Design" id="Design">Design</option>
          <option value="Mathematics" id="Mathematics">Mathematics</option>
          <option value="Physics" id="Physics">Physics</option>
          <option value="Chemistry" id="Chemistry">Chemistry</option>
          <option value="Others" id="Others">Others</option>
      </select>
  </form>
</div>

<div style="background-color:#ffffff; width:12%; margin:20px 50px;">  
  <form id="branchsearchform" style="width:100% height:100%">
    {% csrf_token %}
    <select name="PNP" id="selectP" style="width:100%; height:30px; background-color:#2D2F91; color:white; padding:4px">
      <option value="" id="blank">Not Placed / Placed</option>
      <option value="True" id="Placed">Placed</option>
      <option value="False" id="NPlaces">Not Placed</option>
    </select>
  </form>
</div>
</div>

<div style="width:80%; margin-left:auto; margin-right:auto; display:block; margin-top:10px; min-height:auto">

    <div id="search_results"></div>
    <div id="branch_results"></div>

    <div id="isplacedlist" style="display: none">
        <ul >
	{% for student in students %}
        {% if student.placed is True %}
	<li>Name:
		
		 {{student.name}}
		
		<br>
		Branch: {{student.branch.get_branchName_display}}
		<br>
        Roll No: {{ student.roll}}
		<hr>

	</li>
        {% endif %}
	{% endfor %}
	</ul>

    </div>

<script>
  
$('form input').on('keypress', function(e) {

    return e.which !== 13;
}); 
</script>


<div id="mainlist">
<table id="myTable">
  <thead>
  <tr class="table-headers">
    <th>Name
      <a href="{% url 'home:showStudentByName'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th width="100px">Program
      <a href="{% url 'home:showStudentByProgram'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th>Branch
      
    </th>
    <th>Roll No
      <a href="{% url 'home:showStudentByRoll'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th>Placed
     
    </th>
    <th>Company
      <a href="{% url 'home:showStudentByCompany'%}" style="color:white">
      <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 30px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th>
    <th>Profile</th>
    <!-- <th>Day
      <a href="{% url 'home:showStudent'%}" style="color:white">
        <i style="float: right; margin-top:5px;font-size: 15px; margin-right: 10px;"class="fa fa-sort" aria-hidden="true"></i>
      </a>
    </th> -->
    <!--<th>Slot</th>
    <th>Sector</th>
    <th>Profile</th>-->
  </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <td>
         {{student.name}}
      </td>
      <td> {{ student.programs }}</td>
      <td> {{ student.branch }}</td>
      <td>{{ student.roll }}</td>
      {% if student.placed is False %}
      <td> {{ "Not Placed" }}</td>
      <td> {{ "-" }}</td>
      <!-- <td> {{ "-" }}</td> -->
      <!-- <td> {{ "-" }}</td>
      <td> {{ "-"}}</td> -->
      <td> {{ "-" }}</td>
      {% else %}
      <td> {{ "Placed" }}</td>
      <td> {{ student.company }}</td>
      <!-- <td> {{ student.day }}</td> -->
      <!-- <td> {{ student.slot }}</td>
      <td> {{ student.sector}}</td> -->
      <td> {{ student.profile }}</td>
    {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>
</div>
<script>
    document.getElementById("dsearchform").reset();
</script>

<!--<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      console.log("in######")
      switching = true;
    }
  }
  
}
</script>-->

{% endblock %}


