{% extends "home/base.html" %}
{% load static %}

{% block head %}

<style media="screen">

  @media(max-width: 400px){
  .media_q{
      margin-top: -300px;
  }
}
  @media(min-width: 1300px){
  .marg_class{
    margin-left: -90px;
  }
}

</style>
{% endblock %}
{% block content %}

<style>
.navbar-custom{
  background-color: #023e8a;
}

</style>


<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">


  <div class="container-fluid">

  <a class="navbar-brand order-0 hov_class" href="/" style="cursor: pointer;"> <img style="max-width: 35px;max-height: 35px;-webkit-filter: invert(1);filter: invert(1);" src="{% static 'images/logo.png' %}">Placement-portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">

      {% if request.user.is_authenticated %}
      
      <li class="nav-item active">
        <a class="nav-link" href="#2">Top recruitors
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#3">Percentage placed
        </a>
      </li>
      <li class="nav-item active mr-2">
        <a class="nav-link" href="#4">Branchwise
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/table">Tabular View
        </a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signout' %}">Logout
        </a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signin' %}">Click here to Login
        </a>
      </li>

      <a class="nav-item nav-link text-white hov_class" href="{% url 'signin' %}" style="cursor: pointer;"></a>
      {% endif %}

    </ul>

  </div>
</div>

</nav>

<style>
.navbar-dark .navbar-nav .active>.nav-link:hover{
    background-color:#03045e;
}
.navbar-dark .navbar-brand:hover{
  background-color:#03045e;
}
</style>



<div style="padding: 50px;"id= "2">
</div>


<!-- Add 2 buttons -->
<div style="text-align:center;margin-top:0.5rem;display:block">
  
<div class="btn-group btn-toggle mb-2" > 
 
          
  <button   class="btn btn-xs navbar-custom btn-primary active "  id="btech-button" onclick="updateGauge(currentpos,btech_placed_frac);updateBarChart(data3);plot_cloud(data5);document.getElementById('heading-text').innerHTML='B.tech Placement statistics';">B.tech</button>
  <button  class="btn btn-xs navbar-custom btn-default "  id="mtech-button"  onclick="updateGauge(currentpos,mtech_placed_frac);updateBarChart(data4);plot_cloud(data6);document.getElementById('heading-text').innerHTML='M.tech Placement statistics';">M.tech</button>
</div>
</div>

{% comment %} <h1  style="margin-top:70px;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:2em;" id="heading-text"> B.Tech Placement statistics </h1> {% endcomment %}



  
    <div class="media_q" style="display:block;margin-top:0.5rem">
   
        <h1  style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:40px;"> Top Recruitors </h1>
        
          <div style="height: 600px;padding-top:50px" id="wordcloud"></div>
          <div style="padding:50px" id="3"></div>
          <h1 style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" > Percentage placed </h1>

          <div style="margin-top:2em" id="gauge"> </div>
          <div style="padding:10px" id="4"></div>
          <h1 style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" > Branchwise placement statistics </h1>
        
        <div style="text-align:center;" >
        <div style="height: 500px;margin-left:8%;margin-right:8%" id="barchart"></div>
        </div>

        
        
        
        
        <br>
        <br>
        <div style="text-align:center;">
      
      <a class="btn btn-primary " style="background-color: #023e8a;color:#fff" href="/table" role="button">Tabular View</a>
    </div>
        <div style="margin-bottom:200px"></div>
        <style>
        #pictorial {
          width: 100%;
          height: 500px;
        }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'home/buttons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/gauge.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/barchart.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/wordcloud.css' %}">
        <script>
        var delayBarChart=100000;
        var data1 = {{ btech_percent_placed|safe }};
        var data2 = {{ mtech_percent_placed|safe }};
        var btech_placed_frac=data1["Placed"]/(data1["Placed"]+data1["Not placed"]);
        var mtech_placed_frac=data2["Placed"]/(data2["Placed"]+data2["Not placed"]);
        var data3 = {{ btech_branchwise_placements|safe }};
        var data4 = {{ mtech_branchwise_placements|safe }};
        var data5 = {{ company_count|safe }};
        var data6={{company_count_mtech|safe }};
        </script>
    </div>

 


    {% include "footer.html" %}

{% endblock %}



{% block scripts %}


<!-- Load d3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
<script>
  $('.btn-toggle').click(function() {
      $(this).find('.btn').toggleClass('active');  
      
      if ($(this).find('.btn-primary').length>0) {
        $(this).find('.btn').toggleClass('btn-primary');
      }
      if ($(this).find('.btn-danger').length>0) {
        $(this).find('.btn').toggleClass('btn-danger');
      }
      if ($(this).find('.btn-success').length>0) {
        $(this).find('.btn').toggleClass('btn-success');
      }
      if ($(this).find('.btn-info').length>0) {
        $(this).find('.btn').toggleClass('btn-info');
      }
      
      $(this).find('.btn').toggleClass('btn-default');
        
  });
</script>
<style>
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  
}
.btn:hover {
  background: #023e8a;
  color: white;

}
.btn-primary:not(:disabled):not(.disabled).active{
  background-color:#023e8a;
}
}
</style>
<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>



<script src="{% static 'home/gauge.js' %}"> </script>
<script src="{% static 'home/barchart.js' %}"> </script>
<script src="{% static 'home/wordcloud.js' %}"> </script>

{% endblock %}
