{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Students</title>
     <script src="{% static 'home/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'home/ajaxStudent.js' %}"></script>
    <script src="{% static 'home/branchcheck.js' %}"></script>
    <script src="{% static 'home/tableStyle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home/tableStyle.css' %}">


</head>

<div id ="sort">
     <form id="branchsearchform">{% csrf_token %}
  Placed<!-- <input id="placed"  type="checkbox" name="placed" value="placed" /> -->
  <select name="PNP" id="selectP" >
            <option value="" id="blank"></option>
             <option value="True" id="Placed">Placed</option>
            <option value="False" id="NPlaces">Not Placed</option>
</select>
    <br>

         Branch:  <select name="Branch" id="select" >
            <option value="" id="blank"></option>
             <option value="CSE" id="CSE">CSE</option>
            <option value="MNC" id="MNC">MNC</option>
             <option value="ECE" id="ECE">ECE</option>
             <option value="EEE" id="EEE">EEE</option>
             <option value="ME" id="ME">ME</option>
             <option value="CE" id="CE">CE</option>
             <option value="CL" id="CL">CL</option>
             <option value="EP" id="EP">EP</option>
             <option value="CST" id="CST">CST</option>
             <option value="BT" id="BT">BT</option>

</select>
    </form>
</div>

 <h3>Search here</h3>
    <form id="dsearchform">{% csrf_token %}
    <input type="text" id="searchStudent" name="search" />
    </form>



    <div id="search_results"></div>
    <div id="branch_results"></div>

    <div id="isplacedlist" style="display: none">
        <ul >
	{% for student in students %}
        {% if student.placed is True %}
	<li>Name:
		<a href="{% url 'home:studentDetails' student.id %}">
		 {{student.name}}
		</a>
		<br>
		Branch: {{student.branch.get_branchName_display}}
		<br>
        Roll No: {{ student.roll}}
		<hr>

	</li>
        {% endif %}
	{% endfor %}
	</ul>

    </div>


<div id="mainlist">
<table>
  <thead>
  <tr class="table-headers">
    <th>Name</th>
    <th>Program</th>
    <th>Branch</th>
    <th>Roll No.</th>
    <th>Placed</th>
    <th>Company</th>
    <th>Day</th>
    <th>Slot</th>
    <th>Sector</th>
    <th>Profile</th>
  </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <td> <a href="{% url 'home:studentDetails' student.id %}">
         {{student.name}}
        </a></td>
      <td> {{ student.programs }}</td>
      <td> {{ student.branch }}</td>
      <td>{{ student.roll }}</td>
      {% if student.placed is False %}
      <td> {{ "Not Placed" }}</td>
      <td> {{ "-" }}</td>
      <td> {{ "-" }}</td>
      <td> {{ "-" }}</td>
      <td> {{ "-"}}</td>
      <td> {{ "-" }}</td>
      {% else %}
      <td> {{ "Placed" }}</td>
      <td> {{ student.company }}</td>
      <td> {{ student.day }}</td>
      <td> {{ student.slot }}</td>
      <td> {{ student.sector}}</td>
      <td> {{ student.profile }}</td>
    {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>
<script>
    document.getElementById("dsearchform").reset();

</script>
</body>
</html>


