{% for student in students  %}
<tr class = "row100">
  <td class="column100 column1" data-column="column1">{{student.name}}</td>
  <td class="column100 column2" data-column="column2">{{student.programs}}</td>
  <td class="column100 column3" data-column="column3">{{student.branch}}</td>
  <td class="column100 column4" data-column="column4">{{student.roll}}</td>
  <td class="column100 column5" data-column="column5">{{student.company}}</td>
  <td class="column100 column6" data-column="column6">{{student.profile}}</td>
  {% comment %} <td class = "column8 clear">8:00 AM</td> {% endcomment %}
</tr>
{% endfor %}
