<div class="row mt-5" style="min-height:75px; width:100%; position:relative">
    <div class="col-4" <a href="https://www.iitg.ac.in"><img src="/static/images/iitg.jpg" style="width:auto; max-height:65px"></a>
    </div>
    <div class="justify-content-center col-4" style="font-size: 30px; font-family:Lato;
    color:#2D2F91; font-weight:bold; line-height:34px">
        <center>ADMIN PORTAL</center>
    </div>
    <div class="col-4" title="Logout" style="height:auto">
        <a href="{% url " signout" %}"><i class="fa fa-sign-out" aria-hidden="true" style="float:right;width:auto; font-size:50px; color:#2D2F91;"></i></a>
    </div>
</div>
<div style=" display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: auto;
    height: 31.6px;
    position: relative;
    text-align:center;">
</div>
