{% load widget_tweaks %}

  <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2" >
    {% for error in form.non_field_errors %}
        <p class="help-block text-danger">{{ error }}</p>
    {% endfor %}
  </div>

  {% for field in form %}
    <div class="form-group">
      <label class="font-weight-bold" style="font-family: 'Nunito';" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field class="form-control " placeholder=field.label %}
      <div class="{% if field.errors %} invalid{% endif %}">
        {% for error in field.errors %}
          <p class="help-block text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
