<div class="fixed-bottom p-3 bg-primary">
    <p class="text-center text-white">
         © <a href="https://www.facebook.com/swciitg" target="_blank">Students' Web Committee, IITG</a> (email: swc@iitg.ac.in)
        <br>
        Developed by
        <a href="https://www.linkedin.com/in/sudesh-chaudhary/" target="_blank">Sudesh Chaudhary</a>,
        <a href="https://www.linkedin.com/in/kousik-rajesh/" target="_blank">Kousik Rajesh</a>,
        <a href="https://www.linkedin.com/in/sushanth-reddy-manda-461596199/" target="_blank">Sushanth Reddy Manda</a>,
        <a href="https://www.facebook.com/sanjit.sahu.125" target="_blank">Sanjit Sahu</a> | Maintained by SWC, IITG
        <br>

    </p>
</div>
