<style>
.bg-custom{
  background-color: #023e8a;
}
.footer div{
  font-size: 75%;
  align-items: center;
}
.font-medium {
            font-weight: 500;
        }
.footer svg{
            padding-right: 1em;
            height: 2rem;
        }
</style>

<div class="p-3 fixed-bottom footer bg-custom" style="justify-content: center;align-items: center;display: flex;">
  <svg viewBox="0 0 130 93" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M26.6038 0L59.0798 0L32.6741 45.2587L40.3452 59.8646L75.5318 0L103.354 0L130 45.8674L103.048 92.4742H70.5199L97.4219 46.3235L89.2897 32.7323L53.9998 92.4742H26.6378L0 45.2547L26.6038 0Z" fill="white"/>
  </svg>
  <div class=" text-sm sm:text-base" style="color: white;font-size: 3vh; align-items: center;">Built with ❤ by  
    <span class="font-medium">
        <a href="https://docs.swciitg.in/" target="_blank" rel="noreferrer">
             Students' Web Committee, IITG
        </a>
    </span>
  </div>
</div>
