<style>
.bg-custom{
  background-color: #023e8a;
}
.footer p{
  font-size: 75%;
}
</style>

<div class="p-3 fixed-bottom footer bg-custom">
    <p class="text-center text-white">
         © <a style="color:#98d3eb"  href="https://www.facebook.com/swciitg" target="_blank">Students' Web Committee, IITG</a> (email: swc@iitg.ac.in)
        <br>
        Developed by
        <a style="color:#98d3eb" href="https://www.linkedin.com/in/sudesh-chaudhary/" target="_blank">Sudesh Chaudhary</a>,
        <a style="color:#98d3eb" href="https://www.linkedin.com/in/kousik-rajesh/" target="_blank">Kousik Rajesh</a>,
        <a style="color:#98d3eb" href="https://www.linkedin.com/in/sushanth-reddy-manda-461596199/" target="_blank">Sushanth Reddy Manda</a>,
        <a style="color:#98d3eb"  href="https://www.facebook.com/sanjit.sahu.125" target="_blank">Sanjit Sahu</a>
        <br>
        Mentored by
        <a style="color:#98d3eb"  href="https://www.linkedin.com/in/sourav-goel6174/" target="_blank">Sourav Goel</a> | Maintained by SWC, IITG | <a style="color:#98d3eb"  href="https://www.iitg.ac.in/ccd/?p=coordinators_new21" target="_blank">CCD, IITG</a>
    </p>
</div>
