{% extends "alumni_portal/base.html" %}

{% block title %}Alumni Portal{% endblock %}

{% block head %}
<style media="screen">
  .collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
  }
</style>

{% endblock head %}

{% block content %}
<a href="{% url "alumni_portal:home" %}" class="btn btn-bg btn-success">All Posts</a>

<a href="{% url "alumni_portal:create_post" %}" class="btn btn-bg btn-success">New Post</a>
<a href="{% url "alumni_portal:user_posts" %}" class="btn btn-bg btn-success">My Posts</a>

{% if request.user.profile %}
<a href="{% url "alumni_portal:alumnus_profile" request.user.profile.roll_number %}" class="btn btn-bg btn-success">My Profile</a>
{% else %}
<a href="{% url "alumni_portal:create_alumnus_profile" %}" class = "btn btn-bg btn-success">Create Alumnus Profile</a>
{% endif %}


{% for post in posts %}

<div class="mt-5">

<div class="topic-container">
  <div class="topic-left-pane">
    {# <i class="fa fa-caret-up"></i><span></span> #}
  </div>
  <div class="topic-right-pane">
    <div class="topic-header">
      <div class="simple-avatar__1nLM"><a href="#" target="_blank">
        <img class="simp-avatar__mRN_ topic-avatar" src="https://nulm.gov.in/images/user.png" alt="{{post.author}}" data-has-link="true" style="height: 32px; width: 32px;"></a>
      </div>
      <div>
        <h2 class="topic-title">{{post.title}}</h2>
        <span class="topic-details">posted by <a href="#">{{post.author}}</a> {{post.created}}</span>
      </div>
    </div>
    <div class="topic-content">
      <div class="discuss-markdown-container">
          {{post.body|safe}}
      </div>
<div class="topic-content-mask">
</div>
</div>
<div class="topic-extra">
  <span><i class="fa fa-commenting-o"></i> xyx comments</span>
<span class="topic-details float-right">Last updated: {{post.updated}}</span>

</div>
</div>
<a href="{% url 'alumni_portal:post_detail' post.slug %}" class="topic-overlay"></a>
</div>
</div>

{%endfor%}

{% endblock %}
