{% extends "alumni_portal/base.html" %}

{% block title %}Alumni Portal{% endblock %}

{% block head %}
<style media="screen">
  .collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
  }
</style>
{% endblock head %}

{% block content %}

<a href="{% url "alumni_portal:create_post" %}" class="btn btn-bg btn-success">New Post</a>

{% for post in posts %}

<!-- Card -->
<div class="card promoting-card p-2 mt-5">

  <!-- Card content -->
  <div class="card-body d-flex flex-row">

    <!-- Avatar -->
    <img src="https://icons.iconarchive.com/icons/artua/dragon-soft/512/User-icon.png" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

    <!-- Content -->
    <div>

      <!-- Title -->
      <h4 class="card-title font-weight-bold mb-2">{{post.title}}</h4>
      <!-- Subtitle -->
      <p class="card-text"><i class="far fa-clock pr-2"></i>{{post.created}}</p>

    </div>

  </div>

  <!-- Card image -->
  <div class="view overlay">
    {# <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap"> #}
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <div class="collapse-content">

      <!-- Text -->
      <p class="card-text" id="collapseContent">{{post.body|truncatewords:25}}...</p>
      <!-- Button -->
      <!-- <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">View</a> -->
      <a href="{% url 'alumni_portal:post_detail' post.slug %}" class="btn btn-bg text-dark btn-info">view more</a>
      <!-- <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i> -->
      <!-- <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i> -->
      <p class ="float-right"> <strong>Last updated:</strong> {{post.updated}}</p>
    </div>

  </div>

</div>
{%endfor%}
<!-- Card -->
{% endblock %}
