{% load widget_tweaks %}
<form method="post" action="{% url 'alumni_portal:edit_education' form.instance.pk %}" class='edit-education-form'>
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Edit Education</h4>
  </div>
  <div class="modal-body">
    {% include 'alumni_portal/partial_data_form.html' %}
  </div>
  <div class="modal-footer">
    <button data-url="{% url 'alumni_portal:delete_education' form.instance.pk  %}"type="button" class="btn education-delete btn-default mr-auto" data-dismiss="modal">Delete</button>

    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button class ='btn btn-default' type="submit">Update</button>
  </div>
</form>
