<form method="post" action="{% url 'alumni_portal:delete_education' education.pk %}" class="education-delete-form">
  {% csrf_token %}
  <div class="modal-header">

    <h4 class="modal-title">Confirm Education deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the Education?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete Education</button>
  </div>
</form>
