{% load widget_tweaks %}
<form method="post" action="{% url 'alumni_portal:create_job' %}" class='create-job-form'>
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Create Job</h4>
  </div>
  <div class="modal-body">
    {% include 'alumni_portal/partial_data_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button class ='btn btn-default' type="submit">Create</button>
  </div>
</form>
