<form method="post" action="{% url 'alumni_portal:delete_job' job.pk %}" class="job-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    
    <h4 class="modal-title">Confirm Job deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the Job<strong>{{ book.title }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete Job</button>
  </div>
</form>
